*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: .625em;
}

body {
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items: center;
}

h2 {
    font-size: 2.6rem;
}

h3, h4 {
    font-size: 1.8rem;
}

h2, h3 {
    padding-bottom: 20px;
}

header, footer {
    width: 100%;
    background: darkblue;
    padding: 0 5%;
}

header {
    margin-bottom: 30px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
}

#nav {
    min-width: 1100px;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header #nav ul {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

header li {
    font-size: 2rem;
    list-style: none;
}
header li a{
    color: white;
    text-decoration: none;
}

header li a:hover {
    color: gray;
}

#logo {
    width: 30%;
    min-width: 300px;
}

main {
    width: 1100px;
}

#commitment {
    background-color: green;
    margin-bottom:10px;
    margin-top: 90px;
    padding: 15px 50px;
    color: white;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sizzle {
    position: relative;

    background-image: linear-gradient(to right, rgb(50, 50, 146) 40%, transparent);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 480px;
    color: white;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 50px;
    padding-top: 0;

}

.sizzleBG {
    position: relative;
    width: 100%;
    right: -50px;
    background-size:contain;
    background-position:right;
    background-repeat: no-repeat;
    height: 480px;

    z-index: -1;
}

.sizzleBG span { 
    width: 100%;
    height: 480px;
    position: absolute;
    top: 0px;
    right: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: -2;
    animation: imageAnimation 32s linear infinite 0s; 
}

.sizzleBG span:nth-child(1) { 
    background-image: url(images/sizzle/house1.jpg);
}

.sizzleBG span:nth-child(2) { 
    background-image: url(images/sizzle/house2.jpg);
    animation-delay: 8s; 
}

.sizzleBG span:nth-child(3)  { 
    background-image: url(images/sizzle/house3.jpg);
    animation-delay: 16s; 
}
.sizzleBG span:nth-child(4)  { 
    background-image: url(images/sizzle/house4.jpg);
    animation-delay: 24s; 
}


@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    35% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .sizzleBG span{
	opacity: 1;
}


main section h2 {
    width: 40%;
}

section {
    padding: 60px 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

section#about img {
    width: 200px;
}

section#about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

section#about p {
    width: 60%;
}
section#services {
    background: rgb(233, 233, 233);
}

#services ul {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

#services li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 20px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}

#services li img{
    width: 90%;
    height: 220px;
    object-fit: cover;
    padding-bottom: 20px;

}

#services span {
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 20px;
}

#whyus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#whyus ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#whyus li {
    height: 420px;
    display: flex;
    flex-direction: column;

    align-items: center;
    font-size: 1.4rem;
    background: lightblue;
    border-bottom: 1px solid gray;
}

#whyus img {
    margin: 20px 0;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

#whyus p {
    width: 80%;
}

#contact {
    background-color: lightgray;
    flex-direction: row;
}

main li {
    display: flex;
    width: 30%;
}

form {
    padding: 10px 0;
}

form > input, form > textarea {
    margin: 5px 10px 5px 0;
    padding: 5px;
}

.bigField {
    width: 350px;
}

button {
    margin-top: 10px;
    padding: 15px 50px;
    background-color: lightblue;
    border-bottom: 1px solid gray;
    font-size: 1.8rem;
}

label {
    font-size: 1.4rem;
    padding-right: 20px;
}

.radio {
    margin: 10px 0 15px 0;
}

.fifty {
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.fifty p {
    font-size: 1.8rem;
    padding: 20px;
}

footer {
    margin-top: 30px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

footer section {
    width: 1100px;
    display: flex;
    flex-direction: row;
    padding: 30px 40px;
    color: white;
}

footer img {
    width: 200px;
}

footer .fifty p {
    font-size: 1.2rem;
}



